body{font-family: 微软雅黑,Consolas;}

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

a{color: #3c3c3c}
a:link{text-decoration:none ;color: #3c3c3c}
a:visited {text-decoration:none ;color: #3c3c3c}
a:hover {text-decoration:none ;cursor:pointer;color: #3c3c3c}
a:active {text-decoration:none ;color: #3c3c3c}


.top{
    margin-top: 60px;
}

.top1{
    margin-top:65px;
}

.top4{
    margin-top:40px;
}

.top3{
    margin-top:25px;
}

.top2{
    margin-top:20px;
}

.wid{
    width: 13%;
}

.dis{
    margin-left: 17%;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: -20px;
    margin-left: -20px;
}

.opt{
    opacity: .2;
}
.opt1{
    opacity: 0;
}

.opt:hover{
    opacity: .9;
}

.color{
    background-color: #bbb;
}

.wid1{
    width:15%;
    text-align:right;
}

.wid2{
    width:30%;
    color:blueviolet;
}

.wid6{
    width:5%;
    text-align:right;
}

.wid7{
    width:50%;
    color:blueviolet;
}

.textsize{
    padding-left: 5px;
    margin-right: 20px;
    font-size: 5px;
    width:60px;
    height:60px;
}

.textsize1{
    padding-left: 8px;
    margin-right: 20px;
    font-size: 5px;
    width:60px;
    height:60px;
}

.marginRight{
    margin-right: 10%;
}

.marginLeft{
    margin-left: 20px;
}

.input11{
    background-color:#cccccc;
    width:13%;
    text-align: right;
    padding-top:2%;
    padding-bottom: 2%;
    margin-left: 5%;
}

.input21{
    width:60%;
}

.input12{
    background-color:#cccccc;
    width:13%;
    text-align: right;
    padding-top:0.5%;
    padding-bottom: 0.5%;
    margin-left: 5%;
}

.input22{
    width:60%;
}

.wid3{
    width:8%;
    text-align: left;
    color:#3c3c3c;
    padding-bottom: 8px;

}

.wid4{
    width:15%;
    text-align: left;
    color:#3c3c3c;
    padding-bottom: 8px;
}

.wid5{
    width:100%;
}

.design tr:nth-child(2n)
{
         background:#eeeeee;
}

textarea{
    resize: none;
    font-size: 14px;
    font-family: Consolas, monospace, serif;
    overflow: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}





