body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.modal-body{
    overflow:hidden;
}

.modal-body .modal-body-div form div{
    padding-top:5px;
    padding-bottom:5px;
}
.modal-btn{
     margin:10px 10px 10px 10px;
}
a{color: #3c3c3c}
a:link{text-decoration:none ;color: #3c3c3c}
a:visited {text-decoration:none ;color: #3c3c3c}
a:hover {text-decoration:none ;cursor:pointer;color: #3c3c3c}
a:active {text-decoration:none ;color: #3c3c3c}