<div>
    <ul class="nav nav-sidebar">
        <li id="overview" class="{$activeList[0]$}"><a ng-click="liactive(0)" ui-sref=".overview">概览</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="var" class="{$activeList[1]$}"><a ng-click="liactive(1)" ui-sref=".var">全局变量</a></li>
        <li id="method" class="{$activeList[2]$}"><a ng-click="liactive(2)" href="#method">常用方法</a></li>
        <li id="check" class="{$activeList[3]$}"><a ng-click="liactive(3)" href="#check">验证器</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="repsonse" class="{$activeList[4]$}"><a ng-click="liactive(4)" href="#repsonse">通用响应配置</a></li>
        <li id="libs" class="{$activeList[5]$}"><a ng-click="liactive(5)" href="#libs">API依赖库</a></li>
        <li id="apicase" class="{$activeList[6]$}"><a ng-click="liactive(6)" href="#project/case">API用例库</a></li>
        <li id="tesk" class="{$activeList[7]$}"><a ng-click="liactive(7)" href="#tesk">定时任务</a></li>
        <li id="report" class="{$activeList[8]$}"><a ng-click="liactive(8)" href="#report">测试报告</a></li>
    </ul>
</div>
