<html lang="zh-CN" ng-app="autoTest">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>自动化平台</title>
    {% load staticfiles %}
    <link href="{% static 'styles/library/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/library/ui-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/public/project.css' %}" rel="stylesheet">
    <link href="{% static 'styles/library/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
</head>
<body>
<div ui-view></div>
</body>
{% load staticfiles %}
<script src="{% static 'scripts/library/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'scripts/library/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/library/angular/angular.min.js' %}"></script>
<script src="{% static 'scripts/library/angular/angular-cookies.min.js' %}"></script>
<script src="{% static 'scripts/library/Chart.min.js' %}"></script>
<script src="{% static 'scripts/library/angular-ui-router.js' %}"></script>
<script src="{% static 'scripts/library/angular-chart.min.js' %}"></script>
<script src="{% static 'scripts/library/elastic.js' %}"></script>
<script src="{% static 'scripts/library/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'scripts/library/bootstrap-datetimepicker.fr.js' %}"></script>
<script src="{% static 'scripts/public/app.js' %}"></script>
<script src="{% static 'scripts/public/main/mainCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/proCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/globalVarCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/APICaseCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/testReportCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/APIDependencyCtrl.js' %}"></script>
<script src="{% static 'scripts/public/project/methodCtrl.js' %}"></script>
<script src="{% static "scripts/public/project/responseCtrl.js" %}"></script>
<script src="{% static "scripts/public/project/taskCtrl.js" %}"></script>
<script src="{% static "scripts/public/project/validationCtrl,js.js" %}"></script>
<script src="{% static "scripts/public/project/homepageCtrl.js" %}"></script>
</html>