<div class="container top1">
    <div>
        <div class="alert alert-info" >
            项目级别的变量可用于在本项目中API测试
            <button class="btn bg-info pull-right"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div >
        <button type="button" class="btn btn-default" ng-click="addVar()">添加变量</button>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>变量名</th>
                    <th>变量值</th>
                    <th>描述</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>