<div class="top1">
    <div>
        <h1 class="page-header text-primary">项目首页</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-12 column">
            <div class="container">
                <div class="col-md-4">
                    <div class="caption">
                        <a><h4>222</h4></a>
                        <h5>API规范</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="caption">
                        <a><h4>222</h4></a>
                        <h5>API规范</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="caption">
                        <a><h4>222</h4></a>
                        <h5>API规范</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-10">
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-colors="colors">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel-body">
                        预留
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>