<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" ><span ng-bind="pro.pro_name"></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="查找">
                </div>
            </form>
        </div>
    </nav>

    <div class="row">
        <div class="wid sidebar">
            <ul class="contain nav nav-pills nav-stacked nav-sidebar">
                <li class="{$activeList[0]$}"><a ui-sref=".homepage" ng-click="active(0)"> 项目首页</a></li>
                <li class="{$activeList[1]$}"><a ui-sref=".globalVar" ng-click="active(1)"> 全局变量</a></li>
                <li class="{$activeList[2]$}"><a ui-sref=".method" ng-click="active(2)"> 常用方法</a></li>
                <li class="{$activeList[3]$}"><a ui-sref=".validation" ng-click="active(3)"> 验证器</a></li>
               <!--<li class="{$activeList[4]$}"><a ui-sref=".response" ng-click="active(4)"> 通用响应配置</a></li>-->
                <li class="{$activeList[5]$}"><a ui-sref=".APIDependency" ng-click="active(5)"> API依赖库</a></li>
                <li class="{$activeList[6]$}"><a ui-sref=".APICase" ng-click="active(6)"> API用例库</a></li>
                <!--<li class="{$activeList[7]$}"><a ui-sref=".task" ng-click="active(7)"> 定时任务</a></li>-->
                <li class="{$activeList[8]$}"><a ui-sref=".testReport" ng-click="active(8)"> 测试报告</a></li>
                <li class="{$activeList[9]$}"><a ui-sref=".record" ng-click="active(9)"> 录制</a></li>
            </ul>
        </div>
        <div  class="dis container-fluid" ui-view="intro"></div>
    </div>
</div>

