<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" ><span ng-bind="pro.pro_name"></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                -->
                <li><a ng-click="openIntro()"><span class="glyphicon glyphicon-question-sign"></span>帮助</a></li>
            </ul>
            <!--
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="查找">
                </div>
            </form>
            -->
        </div>
    </nav>

    <div class="row">
        <div class="wid sidebar">
            <ul class="contain nav nav-pills nav-stacked nav-sidebar">
                <li class="{$activeList[0]$}"><a ui-sref=".homepage" ng-click="active(0)"> 项目首页</a></li>
                <li class="{$activeList[1]$}"><a ui-sref=".globalVar" ng-click="active(1)"> 全局变量</a></li>
                <li class="{$activeList[2]$}"><a ui-sref=".method" ng-click="active(2)"> 常用方法</a></li>
                <li class="{$activeList[3]$}"><a ui-sref=".validation" ng-click="active(3)"> 验证器</a></li>
               <!--<li class="{$activeList[4]$}"><a ui-sref=".response" ng-click="active(4)"> 通用响应配置</a></li>-->
                <li class="{$activeList[5]$}"><a ui-sref=".APIDependency" ng-click="active(5)"> API依赖库</a></li>
                <li class="{$activeList[6]$}"><a ui-sref=".APICase" ng-click="active(6)"> API用例库</a></li>
                <li class="{$activeList[7]$}"><a ui-sref=".task" ng-click="active(7)"> 定时任务</a></li>
                <li class="{$activeList[8]$}"><a ui-sref=".testReport" ng-click="active(8)"> 测试报告</a></li>
                <li class="{$activeList[9]$}"><a ui-sref=".record" ng-click="active(9)"> 录制</a></li>
            </ul>
        </div>
        <div  class="dis container-fluid" ui-view="intro"></div>
    </div>

       <div class="modal fade" id="Intro" aria-hidden="true" >
        <div class="modal-dialog modalWidth">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        使用说明
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-div">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <p>全局变量</p>
                                <ul>
                                    <li>1.若需要设置host，请在全局变量添加变量名为"host"的变量</li>
                                    <li>2.若需要添加请求头，请在全局变量添加变量名为"headers"的变量，格式为json型变量</li>
                                    <li>3.若需要设置请求的编码，请在全局变量添加变量名为"encode"的变量，默认为"utf-8"</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer btn_div">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

