<div class="top1">
    <div>
        <h1 class="page-header text-primary">测试报告</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li ng-repeat="result in resultList" class="{$List[$index]$}">
                    <a class="bind_hover_card" ng-click="active($index,result)" ng-bind="result.report_name"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row top2">
        <span class="col-md-3">
            开始时间：<span ng-bind="result.start_time"></span></br>
            结束时间：<span ng-bind="result.end_time"></span>
        </span>
        <div class="pull-right">
            <button type="button" class="textsize btn btn-lg btn-success">
                <span ng-bind="result.pass_num"></span></br>Passed
            </button>
            <button type="button" class="textsize btn btn-lg btn-danger">
                <span ng-bind="result.fail_num"></span></br>Failed
            </button>
            <button type="button" class="textsize btn btn-lg btn-info">
                0</br>NotRun
            </button>
            <button type="button" class="textsize btn btn-lg btn-danger">
                0</br>ERROR
            </button>
            <button type="button" class="textsize btn btn-lg btn-info">
                <span ng-bind="result.pass_num+result.fail_num"></span></br>Total
            </button>
        </div>
    </div>
    <div class="top2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>接口名称</th>
                    <th>用例名称</th>
                    <th>请求方法</th>
                    <th>场景</th>
                    <th>验证器</th>
                    <th>结果</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="res in allResult">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="res.api_name"></td>
                    <td ng-bind="res.case_name"></td>
                    <td ng-bind="res.api_method"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-show="res.is_pass==1">
                            PASS
                        </button>
                        <button type="button" class="btn btn-danger" ng-show="res.is_pass==0">
                            FAILE
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-bind="resultStr">
        </div>
    </div>







</span>
